<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}Volrac is a coder.{% endblock %}</title>
		<meta name="description" content="">
		<meta name="keywords" content="">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block flash %}{% endblock %}
	    {% block content %}{% endblock %}
	</body>
</html>